In [ ]:
!pip install --upgrade pandas
!pip install --upgrade pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 5.0 MB/s
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0

In [ ]:
import numpy as np
import math
import pandas as pd
import pandas_datareader as pdr
import matplotlib
import matplotlib.pyplot as plt

MSFT = pdr.get_data_yahoo('MSFT',
start="01/01/2017", interval="m")
AAPL = pdr.get_data_yahoo('AAPL',
start="01/01/2017", interval="m")

PRIMERO OBTENEMOS LOS DATOS DE LAS EMPRESAS 'MICROSOFT' Y 'APPLE' PARA PODER COMPARAR SUS GANANCIAS

In [ ]:
MSFT

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-01,65.910004,61.950001,62.790001,64.650002,493453500.0,59.846733
2017-02-01,65.239998,62.750000,64.360001,63.980000,440744000.0,59.226509
2017-03-01,66.190002,63.619999,64.129997,65.860001,489169700.0,61.336449
2017-04-01,69.139999,64.849998,65.809998,68.459999,433191200.0,63.757870
2017-05-01,70.739998,67.139999,68.680000,69.839996,517218500.0,65.043083
...,...,...,...,...,...,...
2022-05-01,290.880005,246.440002,277.709991,271.869995,742902000.0,271.238251
2022-06-01,277.690002,241.509995,275.200012,256.829987,621372300.0,256.829987
2022-07-01,282.000000,245.940002,256.390015,280.739990,534868400.0,280.739990
2022-08-01,291.910004,272.380005,277.820007,291.910004,212179300.0,291.910004
2022-08-15,292.679901,290.130005,291.000000,290.709991,7363164.0,290.709991

In [ ]:
AAPL

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-01,30.610001,28.690001,28.950001,30.337500,2.252488e+09,28.438457
2017-02-01,34.369999,31.752501,31.757500,34.247501,2.299874e+09,32.103706
2017-03-01,36.125000,34.262501,34.472500,35.915001,2.246514e+09,33.812794
2017-04-01,36.365002,35.014999,35.927502,35.912498,1.493216e+09,33.810436
2017-05-01,39.162498,36.067501,36.275002,38.189999,2.615927e+09,35.954617
...,...,...,...,...,...,...
2022-05-01,166.479996,132.610001,156.710007,148.839996,2.401040e+09,148.415482
2022-06-01,151.740005,129.039993,149.899994,136.720001,1.749100e+09,136.530350
2022-07-01,163.630005,135.660004,136.039993,162.509995,1.447028e+09,162.284576
2022-08-01,172.169998,159.630005,161.009995,172.100006,6.410431e+08,171.861282
2022-08-15,172.460007,171.345001,171.520004,171.880005,1.987003e+07,171.880005

OBTENEMOS EL CAMBIO MENSUAL DE CADA COMPAÑÍA USANDO EL ADJ. CLOSE

In [ ]:
MSFT["r"] = np.log(MSFT['Adj Close']) - np.log(MSFT['Adj Close'].shift(1))
print(MSFT["r"])

Date
2017-01-01         NaN
2017-02-01   -0.010418
2017-03-01    0.035005
2017-04-01    0.038718
2017-05-01    0.019957
                ...
2022-05-01   -0.020569
2022-06-01   -0.054583
2022-07-01    0.089015
2022-08-01    0.039017
2022-08-15   -0.004119
Name: r, Length: 69, dtype: float64

In [ ]:
AAPL["r"] = np.log(AAPL['Adj Close']) - np.log(AAPL['Adj Close'].shift(1))
print(AAPL["r"])

Date
2017-01-01         NaN
2017-02-01    0.121229
2017-03-01    0.051868
2017-04-01   -0.000070
2017-05-01    0.061488
                ...
2022-05-01   -0.057505
2022-06-01   -0.083469
2022-07-01    0.172805
2022-08-01    0.057336
2022-08-15    0.000109
Name: r, Length: 69, dtype: float64

#DECLARAMOS NUESTRAS HIPOTESIS


*   H0: APPL_MEAN - MSFT_MEAN = 0
*   HA: APPL_MEAN - MSFT_MEAN >< 0

In [ ]:
MSFT_r_mean = MSFT["r"].mean()
MSFT_r_mean

0.023243225466153324

In [ ]:
AAPL_r_mean = AAPL["r"].mean()
AAPL_r_mean

0.026456679723931925

In [ ]:
MSFT_r_var = MSFT["r"].var()
MSFT_r_var

0.0029367161595462957

In [ ]:
AAPL_r_var = AAPL["r"].var()
AAPL_r_var

0.007168812643463643

OBTENEMOS MEDIAS Y VARIANZAS DE AMBAS EMPRESAS PARA PODER USAR NUESTRA FORMULA DE T

In [ ]:
t = (AAPL_r_mean - MSFT_r_mean - 0) / math.sqrt((AAPL_r_var + MSFT_r_var) / AAPL["r"].count())
t

0.26360100184770313

PODEMOS OBSERVAR QUE LA T ES MUY PEQUEÑA, POR LO QUE NUESTRA HIPOTESIS NULA NO PUEDE SER DESCARTADA, PERO TAMBIEN VEMOS QUE NO ES 0, POR LO QUE SI HAY UNA DIFERENCIA, Y COMO NOSOTROS SUPUSIMOS QUE APPL_MEAN - MSFT_MEAN >< 0  Y OBTUVIMOS UN VALOR POSITIVO, VEMOS QUE ESTO ES CIERTO Y EN ESTE CASO AL USAR:

 AAPL_MEAN - MSFT_MEAN > 0 => AAPL_MEAN > MSFT_MEAN